.booking {
  min-height: 555px;

  background-color: $blue-booking;
  background-image: url("../img/backgrounds/booking-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-breakpoint) and (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/booking-desktop@2x.jpg");
  }

  @media (max-width: $tablet-breakpoint) {
    background-image: url("../img/backgrounds/booking-tablet.jpg");
    min-height: 805px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/booking-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-breakpoint) {
    background-image: url("../img/backgrounds/booking-mobile.jpg");
    min-height: 760px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/booking-mobile@2x.jpg");
    }
  }
}

.booking__wrapper {
  max-width: $desktop-wrapper-width;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 60px;

  display: grid;
  grid-template-columns: 1fr auto;

  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    padding: 88px 0;
  }

  @media (max-width: $mobile-breakpoint) {
    grid-row: 3 / 4;
    grid-column: 1;
    padding: 60px 0;
  }
}

.booking__header {
  font-size: 40px;
  line-height: 150%;
  font-weight: 700;
  grid-column: 1;
  margin: 163px auto 9px 0;

  @media (max-width: $tablet-breakpoint) {
    font-size: 34px;
    margin: 0 0 5px 0;
    text-align: center;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 14px;
  }
}

.booking__wrapper > p {
  font-size: 18px;
  line-height: 150%;
  grid-column: 1;
  margin-top: 0;
  margin-right: 200px;

  @media (max-width: $tablet-breakpoint) {
    margin-right: 0;
    text-align: center;
    max-width: 355px;
    margin-bottom: 52px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 16px;
    line-height: 140%;
    max-width: 257px;
    margin-bottom: 32px;
  }
}

.booking__form-wrapper {
  grid-column: 2;
  grid-row: 1 / 4;
  width: 403px;
  box-sizing: border-box;
  background-color: $blue-background;
  padding: 26px 50px 50px;

  @media (max-width: $tablet-breakpoint) {
    grid-row: 3 / 4;
    grid-column: 1;
  }

  @media (max-width: $mobile-breakpoint) {
    min-width: 290px;
    max-width: 100%;
    width: auto;
    padding: 17px 30px 40px;
  }
}

.booking__form-wrapper p {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: $white-basic;
  margin-bottom: 27px;

  @media (max-width: $mobile-breakpoint) {
    line-height: 140%;
    text-align: center;
    margin-bottom: 27px;
  }
}

.form input:not([type="checkbox"]) {
  display: block;
  border-radius: 0;
  appearance: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: $blue-basic;
  padding: 13px 16px 9px;
  border: none;
  margin-bottom: 20px;
  line-height: 150%;

  &:nth-last-of-type(2) {
    margin-bottom: 15px;
  }

  &::placeholder {
    color: $blue-input-placeholder;
  }
}

.booking form label[for="checkbox"] {
  user-select: none;
  display: block;
  position: relative;
  box-sizing: border-box;
  font-size: 10px;
  color: $white-basic;
  line-height: 130%;
  padding: 8px 0 5px 23px;
  margin-bottom: 27px;

  @media (max-width: $mobile-breakpoint) {
    padding: 3px 45px 5px 28px;
    line-height: 120%;
    margin-bottom: 23px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $white-basic;
    left: 0;
    top: 5px;

    @media (max-width: $mobile-breakpoint) {
      width: 20px;
      height: 20px;
    }
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    background-image: url("../img/svg/checked-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: 3px;
    top: 10px;


    @media (max-width: $mobile-breakpoint) {
      top: 11px;
    }
  }
}

.booking form input[type="checkbox"]:checked + label[for="checkbox"]::after {
  display: block;
}

.booking form button {
  border: none;
  cursor: pointer;
  padding: 13px 20px 14px;
  width: 100%;
}
