.contacts {
  background-color: $gray-contacts-background;

  @media (max-width: $mobile-breakpoint) {
    background-color: $white;
  }
}

.contacts__wrapper {
  max-width: $desktop-wrapper-width;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  padding: 119px 0 121px;

  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: 1fr 324px;
    padding: 100px 0;
  }

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
    padding: 58px 0 66px;
  }
}

.contacts__map {
  border: none;
  background-color: $gray-map-background;
  background-image: url("../img/backgrounds/map-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 560px;
  width: auto;
  grid-row: 1 / 5;
  margin-right: 100px;

  @media (min-width: $tablet-wrapper-width) and (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/map-desktop@2x.png");
  }

  @media (max-width: $tablet-breakpoint) {
    background-image: url("../img/backgrounds/map-tablet.png");
    min-width: 324px;
    height: 335px;
    justify-self: stretch;
    margin-right: 30px;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/map-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-breakpoint) {
    background-image: url("../img/backgrounds/map-mobile.png");

    min-width: 290px;
    height: 316px;
    margin-right: 0;
    grid-row: 4;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/map-mobile@2x.png");
    }
  }
}

.contacts__wrapper > p {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  margin-top: 76px;
  margin-bottom: 28px;

  @media (max-width: $tablet-breakpoint) {
    margin-top: 66px;
    margin-bottom: 22px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-top: 0;
  }
}

.contacts__contacts-list {
  margin: 0;
}

.contacts__contacts-list p {
  margin: 0;
}

.contacts__contacts-item {
  box-sizing: border-box;
  position: relative;
  grid-column: 2;
  line-height: 150%;
  text-decoration: none;
  color: $blue-basic;
  margin-bottom: 10px;
  padding: 5px 0 5px 28px;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 11px;
  }

  @media (max-width: $mobile-breakpoint) {
    grid-column: 1;
  }

  &:last-child {
    margin-bottom: 0;

    @media (max-width: $mobile-breakpoint) {
      margin-bottom: 30px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    left: 0;
  }

  &--address::before {
    height: 22px;
    background-image: url("../img/svg/map-pin-icon.svg");
    top: 4px;

    @media (max-width: $tablet-breakpoint) {
      top: 10px;
    }
  }

  &--phone::before {
    height: 18px;
    background-image: url("../img/svg/phone-icon.svg");
    top: 7px;
  }


  &--phone:hover,
  &--phone:focus {
    opacity: 0.7;
  }
}

.contacts__contact-link {
  display: block;
  color: inherit;
  text-decoration: inherit;
}
