.container {
  box-sizing: border-box;

  @media (max-width: $tablet-breakpoint) {
    padding: 0 $tablet-padding;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 0 $mobile-padding;
  }
}
