.cruises {
  max-width: $desktop-wrapper-width;
  min-width: 1px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 87px 15px 104px;

  @media (max-width: $tablet-breakpoint) {
    padding: 68px 60px 84px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 24px;
    padding: 37px 25px 41px;
  }
}

.cruises__header {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 49px;
  line-height: 150%;

  @media (max-width: $tablet-breakpoint) {
    font-size: 26px;
    margin-bottom: 49px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.cruises__cruises-list {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  justify-content: space-between;
  row-gap: 30px;

  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
  }

  @media (max-width: 940px) {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: minmax(270px, 65%);
    justify-content: center;
    justify-items: stretch;
  }
}

.cruises__cruise {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;

  &:hover .cruises__cruise-overlay,
  &:focus-within .cruises__cruise-overlay {
    display: block;
  }
}

.cruises__cruise-image {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
}

.cruises__cruise-image img {
  grid-column: 1;
  grid-row: 1;
  z-index: -1;
  width: 100%;
  max-height: 386px;
  object-fit: cover;

  @media (max-width: $mobile-breakpoint) {
    max-height: unset;
  }
}

.cruises__cruise-header {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: $white-basic;
  z-index: 2;
  margin: 0 22px 22px 30px;
  align-self: end;

  grid-column: 1;
  grid-row: 1;

  @media (max-width: 940px) {
    margin: 0 22px 27px 35px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin: 0 22px 17px 26px;
  }
}

.cruises__cruise-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: $blue-basic;
  padding: 30px 25px 5px;
  margin: 0;
  z-index: 3;
  height: 100%;
  overflow-y: scroll;

  @media (max-width: 940px) {
    padding: 30px 35px 5px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 30px 25px 5px;
  }
}

.cruises__cruise-overlay p {
  color: $white-basic;
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.cruises__cruise-properties {
  margin: 0;
  margin-bottom: 23px;

  @media (max-width: 940px) {
    margin-bottom: 24px;
  }
}

.cruises__property-name {
  color: $white-basic;
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.cruises__property-description {
  margin: 0;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 140%;
  color: $gray-cruise-description;
}

.cruises__cruise-button {
  text-align: center;
  padding: 8px 0;
}
