.page-footer {
  background-color: $blue-basic;
}

.page-footer__wrapper {
  max-width: $desktop-wrapper-width;
  margin: 0 auto;
  padding: 50px 0 48px;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-breakpoint) {
    margin: 0;
    padding: 40px 0;
  }

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0 36px;
  }
}

.page-footer__logo {
  fill: $white-basic;
  margin-right: 40px;
  flex-shrink: 0;

  @media (max-width: $tablet-breakpoint) {
    margin-right: 25px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-right: 0;
    margin-bottom: 23px;
  }
}

.page-footer__nav-items {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    margin-bottom: 17px;
  }
}

.page-footer__nav-item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;

    @media (max-width: $mobile-breakpoint) {
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    margin-right: 25px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.page-footer__nav-link {
  box-sizing: border-box;
  font-weight: 500;
  padding: 8px 0;

  @media (max-width: $tablet-breakpoint) {
    font-size: 12px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 0;
  }
}

.page-footer__socials {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-left: auto;
  padding-top: 2px;
  max-width: 250px;

  @media (max-width: $tablet-breakpoint) {
    padding-top: 5px;
    max-width: 200px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-left: 0;
    margin-right: auto;
    max-width: unset;
  }
}

.page-footer__social {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
  text-decoration: none;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 32px;
  margin-bottom: 4px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 16px;
    height: 16px;
    margin-left: 23px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-right: 15px;
    margin-left: 0;
  }

  &--facebook {
    background-image: url("../../img/svg/facebook-icon.svg");
    background-position: 7px center;

    @media (max-width: $mobile-breakpoint) {
      background-position: 0 center;
    }
  }

  &--instagram {
    background-image: url("../../img/svg/instagram-icon.svg");
  }

  &--twitter {
    background-image: url("../../img/svg/twitter-icon.svg");

    @media (max-width: $mobile-breakpoint) {
      width: 27px;
      background-position: 7px center;
    }
  }
}
