.promo {
  background-color: $blue-basic;
  min-height: $promo-desktop-height;
  box-sizing: border-box;
  background-image: url("../img/backgrounds/promo-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-breakpoint) and (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/promo-desktop@2x.jpg");
  }

  @media (max-width: $tablet-breakpoint) {
    min-height: $promo-tablet-height;
    background-image: url("../img/backgrounds/promo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/promo-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-breakpoint) {
    min-height: $promo-mobile-height;
    background-image: url("../img/backgrounds/promo-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/promo-mobile@2x.jpg");
    }
  }
}

.promo__wrapper {
  margin: 0 auto;
  max-width: $desktop-wrapper-width;
  min-width: 1px;
  box-sizing: border-box;
  padding: $header-desktop-offset 95px 20px;

  @media (max-width: $tablet-breakpoint) {
    padding: $header-tablet-offset 0 20px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: $header-mobile-offset 0 20px;
  }
}

.promo__header {
  margin-top: 0;
  margin-bottom: 18px;
  color: $white-basic;
  font-size: 54px;
  line-height: 100%;
  font-weight: 700;

  @media (max-width: $tablet-breakpoint) {
    font-size: 50px;
    margin-bottom: 16px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 12px;
  }
}

.promo p {
  color: $white-basic;
  font-size: 20px;
  margin: 0;

  @media (max-width: $tablet-breakpoint) {
    font-size: 18px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 16px;
    line-height: 140%;
  }
}
