//Цвета
$blue-basic: #011C40;
$white-basic: #F9FBFD;
$blue-background: #101A56;
$white: #FFFFFF;

//Размеры

$desktop-width: 1366px;
$tablet-width: 768px;
$mobile-width: 320px;

$tablet-padding: 45px;
$mobile-padding: 15px;

$desktop-container-width: 1160px;
$tablet-container-width: 678px;

$tablet-breakpoint: $desktop-container-width - 1;
$mobile-breakpoint: $tablet-container-width - 1;


$promo-desktop-height: 650px;
$promo-tablet-height: 638px;
$promo-mobile-height: 500px;

$header-desktop-offset: 276px;
$header-tablet-offset: 274px;
$header-mobile-offset: 176px;

